# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfstate.backup
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Variables
# terraform.tfvars 
# do not commit terraform.tfvars to git update it and add to .gitignore
# IDE
.vscode/
.idea/

# Private keys
*.pem